# =========================
# Django and Python
# =========================
*.log
*.pot
*.pyc
*.pyo
*.pyd
__pycache__/
db.sqlite3
media/
staticfiles/
*.sqlite3
*.py[cod]

# =========================
# Virtual Environments
# =========================
venv/
env/
ENV/
.venv/
companyenv/

# =========================
# IDE / Editor Settings
# =========================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# =========================
# OS / System Files
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# Archives / Backups
# =========================
*.zip
*.tar.gz
*.bak
