*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(4, 78, 102);
}
body h1{
    text-align: center;
    color: white;
    margin: 1em
}
body h2{
    text-align: center;
    color: beige;
    margin: 1em
}
.add_button{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    margin-left: 40px;
    cursor: pointer;
}
.dept_details{
    border: 1px solid black;
    width: 30%;
    margin-left: 400px;
    padding: 20px;
    gap: 15px;
    background-color: beige;
    border-radius: 10px;
    margin-top: 30px;
}
.dept_details p{
    font-size: 18px;
    font-weight:700;
    margin-bottom: 10px;
}

.edit_button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 900;
    font-size: 15px;
}
.delete_button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 900;
    font-size: 15px;
}
.view_button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.dept_style{
    font-weight: 900;
    color: brown;
}