*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(4, 78, 102);
}
form{
    background-color: beige;
    max-width: 20em;
    margin: 7em auto;
    padding: 30px;
    border-radius: 10px;
}
body h1{
    text-align: center;
    margin: 30px;
    color: white;
}
.edit_button{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.sub{
    height: 25px;
    width: auto;
    padding: 0 5px;
    border-radius: 10px;
    background-color: black;
    color: white;
}
.reset{
    height: 25px;
    width: auto;
    padding: 0 5px;
    border-radius: 10px;
    background-color: black;
    color: white;
}