*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
}
.message{
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15em auto;
    max-width: 60%;
    padding: 30px 0;
    border-radius: 20px;
}
.home_button{
    background-color: black;
    color: white;
    height: 25px;
    width: auto;
    padding: 0 10px;
    border-radius: 10px;
    margin-top: 30px;
}